<?xml version="1.0" encoding="UTF-8"?><Context>
    <Resource accessToUnderlyingConnectionAllowed="true" driverClassName="com.mysql.jdbc.Driver" logAbandoned="true" name="jdbc/main" password="386s3oq15s27oqs8" profile="DEV" removeAbandoned="" removeAbandonedTimeout="60" schema="" type="javax.sql.DataSource" url="jdbc:mysql://rds-oncronos-shared.cx8gelec2ybx.us-east-1.rds.amazonaws.com:3306/a0ce5221-4036-4463-86f3-bd15f27bdf81?createDatabaseIfNotExist=true" username="n0pr522140364463"/>
    <Profile value="DEV"/>
</Context>
